.nav-bar-font{
    font-size: 12px;
    color: rgb(123, 121, 121);
    padding: 8px;
}

.ul-font{
    font-size: 17px;
    font-weight: 600;
}

.application-dropdown-font{
    font-size: 17px;
    padding: 22px;
}

.acountType-btn-font{
    font-size: 17px;
    font-weight: 400;
    position: relative;
    top: 20Px;
}

.bule-line-font{
    font-size: 15px !important;
    font-weight: 500 !important;
}













